* {
    margin: 0;
    padding: 0;
}

.logo a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.logo a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.logo a:hover {
    color: rgb(241, 203, 176);
    background-color: rgb(255, 255, 255, 0.2);
    font-weight: bold;
    font-size: 26px;
}

.logo a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}


.logo {
    top: 0;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    position: sticky;
    padding: 5px;
}
.footer {
    
    bottom: 0;
    width: 99%;
    height: 75px;
    color: white;
    font-size: 15px;
    display: inline-block;
}

.logoright img {
    margin-top: 5px;
    float: left;
    margin-right: 5px;
}

.footer p {
    text-align: right;
    margin-top: 10px;
}
.main {
    background-image: url('./image/bg2.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
    margin: 0px auto;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.grid{
    width: 480px;
    margin: 5px;
    border:rgb(255, 255, 255) solid;
}

.grid p{
    text-align: justify;
    padding: 20px;
    font-size: 17px;
    color: rgb(255, 255, 255);
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid h1{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

[class*="grid_"] {
    float: left;
    height: auto;
    margin: 0px;
}
.head {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}

.thriller {
    text-align: center;
    display: inline-block;
    font-size: 15px;
}